@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$default-font-family: "Roboto", $font-family-base;
$default-font-size: 16px;

$headers-font-family: "Roboto Slab", $font-family-base;
$headers-margin-size: 20px;
$headers-delta: 5px;
$headers-font-size: 34px
